/* injected custom css */

/* reduce height of editor tabs */
/* FIXME: its still broken :( */
/*
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] .tab-label::before {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] .tab-label .monaco-icon-label-container {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.editor-actions {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.editor-actions li.action-item a.action-label {
    height: 25px !important;
    line-height: 25px !important;
}
*/

/* reduce height of project explorer header to match editor tabs height */
/* FIXME: causes bugs with other sidebars, try to only target the project explorer */
/*
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .title-label,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .title-actions,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .action-label {
    height: 25px !important;
    line-height: 25px !important;
}
*/

/* hide settings icon at bottom in activity bar (it is literally useless, the command runner can do anything) */
.part.activitybar.left .monaco-action-bar.vertical ul.actions-container li.action-item .action-label.codicon.codicon-settings-view-bar-icon {
    display: none !important;
}

/* move cmake tools build button to activity bar (mimic Qt Creator) */
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"] {
    position: absolute !important;
    bottom: 42px !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"] a {
    margin: 0 !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"] span::before {
    content: '\eb6d' !important;
    display: block !important;
    width: 48px !important;
    height: 48px !important;
    font-size: 36px !important;
    line-height: 48px !important;
}

/* move cmake tools run button to activity bar (mimic Qt Creator) */
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"] {
    position: absolute !important;
    bottom: calc(42px + 42px + 10px) !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"] a {
    margin: 0 !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"] span::before {
    display: block !important;
    width: 48px !important;
    height: 48px !important;
    font-size: 36px !important;
    line-height: 48px !important;
}
