/* injected custom css */

/* reduce height of editor tabs */
/* FIXME: its still broken :( */
/*
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] .tab-label::before {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.monaco-scrollable-element .tabs-container[role="tablist"] .tab[role="tab"] .tab-label .monaco-icon-label-container {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.editor-actions {
    height: 25px !important;
    line-height: 25px !important;
}
.monaco-workbench .part.editor .editor-group-container .title.tabs .tabs-and-actions-container.tabs-border-bottom
.editor-actions li.action-item a.action-label {
    height: 25px !important;
    line-height: 25px !important;
}
*/

/* reduce height of project explorer header to match editor tabs height */
/* FIXME: causes bugs with other sidebars, try to only target the project explorer */
/*
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .title-label,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .title-actions,
.monaco-workbench .part.sidebar[id="workbench.parts.sidebar"] .composite.title .action-label {
    height: 25px !important;
    line-height: 25px !important;
}
*/

/* reduce some useless padding to gain some pixels in the tab bar */
.monaco-workbench .part.editor>.content .editor-group-container>.title .editor-actions {
    padding-right: 0 !important;
}

/* hide settings icon at bottom in activity bar (it is literally useless, the command runner can do anything) */
.part.activitybar.left .monaco-action-bar.vertical ul.actions-container li.action-item .action-label.codicon.codicon-settings-view-bar-icon {
    display: none !important;
}

/* move cmake tools build button to activity bar (mimic Qt Creator) */
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"],
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear Build"],
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build"],
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build, Build the selected target: [all]"] {
    position: absolute !important;
    bottom: 42px !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"] a,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear Build"] a,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build"] a,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build, Build the selected target: [all]"] a {
    margin: 0 !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear ビルド"] span::before,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear Build"] span::before,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build"] span::before,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="gear  Build, Build the selected target: [all]"] span::before {
    content: '\eb6d' !important;
    display: block !important;
    width: 48px !important;
    height: 48px !important;
    font-size: 36px !important;
    line-height: 48px !important;
}

/* move cmake tools run button to activity bar (mimic Qt Creator) */
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"],
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play, Launch the selected target in the terminal window"] {
    position: absolute !important;
    bottom: calc(42px + 42px + 10px) !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"] a,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play, Launch the selected target in the terminal window"] a {
    margin: 0 !important;
    padding: 0 !important;
    width: 48px !important;
    height: 48px !important;
}
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play"] span::before,
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="play, Launch the selected target in the terminal window"] span::before {
    display: block !important;
    width: 48px !important;
    height: 48px !important;
    font-size: 36px !important;
    line-height: 48px !important;
}

/* redundant and also broken, btw I use lldb by default; use CodeLLDB instead */
.part.statusbar div[id="ms-vscode.cmake-tools"][aria-label="bug"] {
    display: none !important;
}

/* remove underline on clangd extension when header file was found, Qt Creator doesn't do this either */
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk10.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk11.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk12.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk13.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk14.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk15.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk16.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk17.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk18.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk19.detected-link,
.monaco-workbench .part.editor .monaco-mouse-cursor-text .mtk20.detected-link {
    text-decoration: none !important;
}

/* ensure the amos402.scope-bar extension is always on the most left */
.part.statusbar .items-container.right-items .statusbar-item[id="amos402.scope-bar"] {
    order: 1000 !important;
    color: #ccc !important;
}

/* fixed order of status bar items */
.part.statusbar .items-container.right-items .statusbar-item[id="status.notifications"] {
    order: -1000;
    padding-right: 0 !important;
    margin-right: 0 !important;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.notifications"] a {
    margin-right: 0 !important;
}
.part.statusbar .items-container.right-items .statusbar-item[id="alefragnani.read-only-indicator"] {
    order: -999;
    pointer-events: none !important;
}
.part.statusbar .items-container.right-items .statusbar-item[id="alefragnani.read-only-indicator"] a {
    /* only visible when file is read-only */
    pointer-events: none !important;
    font-weight: bold;
    color: red !important;
    background: #eaeaea !important;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.encoding"] {
    order: -998;
    color: #aaaaaa;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.eol"] {
    order: -997;
    color: #aaaaaa;
}
.part.statusbar .items-container.right-items .statusbar-item[id="SirTori.indenticator"] {
    order: -996;
    color: #d3d3d3;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.indentation"] {
    order: -995;
    color: #d3d3d3;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.selection"] {
    order: -994;
    border-left: 1px solid #aaa;
    color: #d3d3d3;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.mode"] {
    order: -993;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.mode"] a {
    background-color: #4a4a4a;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.mode"] a:hover {
    background-color: rgba(255, 255, 255, 0.12) !important;
}
.part.statusbar .items-container.right-items .statusbar-item[id="humao.rest-client"] {
    order: -992;
}

.part.statusbar .items-container.right-items .statusbar-item[id="lokalise.i18n-ally"] {
    /* prevent changing settings */
    pointer-events: none !important;
}

/* fixed order of left status bar items */
.part.statusbar .items-container.left-items .statusbar-item[id="fabiospampinato.vscode-statusbar-debugger"] {
    order: -1000 !important;
    margin-left: 0 !important;
}
.part.statusbar .items-container.left-items .statusbar-item[id="fabiospampinato.vscode-statusbar-debugger"][title="Pause"] {
    margin-left: 8px !important;
}
.part.statusbar .items-container.left-items .statusbar-item[id="status.problems"] {
    order: -999 !important;
    margin-left: 8px !important;
}
.part.statusbar .items-container.left-items .statusbar-item[id="status.problems"] .codicon-error {
    color: #ff9797;
}
.part.statusbar .items-container.left-items .statusbar-item[id="status.problems"] .codicon-warning {
    color: #fffcb3;
}
.part.statusbar .items-container.left-items .statusbar-item[id="status.problems"] .codicon-info {
    color: #e9f8ff;
}
.part.statusbar .items-container.left-items .statusbar-item[id="8amjp.charactercount"] {
    order: -998 !important;;
}
.part.statusbar .items-container.left-items .statusbar-item[id="waderyan.gitblame"] {
    order: 1000;
    color: #aaa !important;
}

/* gain some real estate in the status bar by reducing whitespace between basic items */
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.eol"] a,
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.encoding"] a,
.part.statusbar .items-container.right-items .statusbar-item[id="SirTori.indenticator"] a,
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.indentation"] a,
.part.statusbar .items-container.right-items .statusbar-item[id="alefragnani.read-only-indicator"] a {
    margin-left: 0;
    margin-right: 0;
}
.part.statusbar .items-container.right-items .statusbar-item[id="status.editor.selection"] a {
    margin-right: 0;
}

/* hide SCM status, there is no setting to remove this from the status bar without disabling the entire plugin :( */
.part.statusbar .items-container.left-items .statusbar-item[id="status.scm"] {
    display: none !important;
}

/* hide number of tasks from the task button list */
.part.statusbar .items-container.left-items .statusbar-item[id="spencerwmiles.vscode-task-buttons"] .disabled {
    display: none !important;
}


/* reduce size of editor scrollbars */
[id="workbench.parts.editor"] .split-view-view .editor-container .monaco-scrollable-element.editor-scrollable canvas.decorationsOverviewRuler,
[id="workbench.parts.editor"] .split-view-view .editor-container .monaco-scrollable-element.editor-scrollable div[role="presentation"].scrollbar.vertical,
[id="workbench.parts.editor"] .split-view-view .editor-container .monaco-scrollable-element.editor-scrollable div[role="presentation"].scrollbar.vertical .slider {
    width: 10px !important;
}
[id="workbench.parts.editor"] .split-view-view .editor-container .monaco-scrollable-element.editor-scrollable div[role="presentation"].scrollbar.horizontal,
[id="workbench.parts.editor"] .split-view-view .editor-container .monaco-scrollable-element.editor-scrollable div[role="presentation"].scrollbar.horizontal .slider {
    height: 10px !important;
}


/**
 * editor background image
 * idea taken from https://github.com/shalldie/vscode-background
 * but since plugins can't modify a system-wide read-only VSCode, just add the actual thing here
 */

/* code editor */
[id="workbench.parts.editor"] .split-view-view .editor-container .editor-instance > .monaco-editor .overflow-guard > .monaco-scrollable-element::before {
    content: "";
    background-image: url(https://codium-assets.local/resources/app/out/vs/workbench/vscodium-assets/image1.png);
    pointer-events: none;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*opacity: 0.8;*/
    /*animation: background_image_fade 2s;*/
}
/* home screen */
[id="workbench.parts.editor"] .split-view-view .empty::before {
    content: "";
    background-image: url(https://codium-assets.local/resources/app/out/vs/workbench/vscodium-assets/image1.png);
    pointer-events: none;
    position: absolute;
    z-index: 99999;
    width: 100%;
    height: 100%;
    background-position: right bottom;
    background-repeat: no-repeat;
    /*opacity: 0.8;*/
    /*animation: background_image_fade 2s;*/
}




.part.statusbar .items-container.left-items .statusbar-item[id="fabiospampinato.vscode-statusbar-debugger"] .codicon.codicon-debug-pause {
    color: inherit !important;
}
